process.roles=controller,broker
node.id={{ kafka_node_id }}
controller.quorum.voters={{ kafka_node_id }}@{{ ansible_default_ipv4.address }}:9093
log.dirs={{ kafka_data_dir }}
listeners=PLAINTEXT://{{ ansible_default_ipv4.address }}:{{ kafka_port }},CONTROLLER://{{ ansible_default_ipv4.address }}:9093
advertised.listeners=PLAINTEXT://{{ ansible_default_ipv4.address }}:{{ kafka_port }}
listener.security.protocol.map=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
controller.listener.names=CONTROLLER
log.retention.hours=168
log.segment.bytes=1073741824
num.network.threads=3
num.io.threads=8
socket.send.buffer.bytes=102400
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600
